<!-- Blog page banner -->
<section id="banner">
  <div class="banner-wrap">
    <div class="overlay">
      <div class="heading">
        <h1>Our blog</h1>
      </div>
    </div>
  </div>
</section>

<!-- Blog page featured  blogs -->
<section id="featured-blogs">
  <div class="featured-blogs-wrap">
    <div class="heading">
      <h2>Featured</h2>
    </div>

    <div class="featured-articles">
      <div class="article-set">
        <article class="article">
          <div class="image">
            <img src="../../assets/images/bg/rainbow.jpg" alt="Article image." >
          </div>
          <div class="title">
            <h3>Introduction to EJS6</h3>
          </div>
          <div class="technology-author">
            <ul>
              <li>JavaScript</li>
              <li>Tsakane Cathrine, 25 OCT 2020</li>
            </ul>
          </div>
        </article>

        <article class="article">
          <div class="image">
            <img src="../../assets/images/bg/rainbow.jpg" alt="Article image." >
          </div>
          <div class="title">
            <h3>Introduction to EJS6</h3>
          </div>
          <div class="technology-author">
            <ul>
              <li>JavaScript</li>
              <li>Tsakane Cathrine, 25 OCT 2020</li>
            </ul>
          </div>
        </article>
      </div>

      <div class="article-set">
        <article class="article">
          <div class="image">
            <img src="../../assets/images/bg/rainbow.jpg" alt="Article image." >
          </div>
          <div class="title">
            <h3>Introduction to EJS6</h3>
          </div>
          <div class="technology-author">
            <ul>
              <li>JavaScript</li>
              <li>Tsakane Cathrine, 25 OCT 2020</li>
            </ul>
          </div>
        </article>

        <article class="article">
          <div class="image">
            <img src="../../assets/images/bg/rainbow.jpg" alt="Article image." >
          </div>
          <div class="title">
            <h3>Introduction to EJS6</h3>
          </div>
          <div class="technology-author">
            <ul>
              <li>JavaScript</li>
              <li>Tsakane Cathrine, 25 OCT 2020</li>
            </ul>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<!-- Blog page list of blogs -->
<section id="other-blogs">
  <div class="other-blogs-wrap">
    <div class="heading">
      <h2>Recent</h2>
    </div>

    <div class="other-articles">
      <article class="article">
        <div class="image">
          <img src="../../assets/images/bg/rainbow.jpg" alt="Article image." >
        </div>
        <div class="description">
          <div class="title">
            <h3>Introduction to ES6</h3>
          </div>
          <div class="technology-author">
            <ul>
              <li>JavaScript</li>
              <li>By Tsakane Cathrine, October 25, 2020</li>
            </ul>
          </div>
          <div class="brief-desc">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vel, voluptate,
              dolor culpa aspernatur porro fugiat quas ut tempore minus voluptatum deserunt
              doloremque dolore voluptatem ab tempora. Quaerat, similique officiis!
            </p>
          </div>
        </div>
      </article>

      <article class="article">
        <div class="image">
          <img src="../../assets/images/bg/rainbow.jpg" alt="Article image." >
        </div>
        <div class="description">
          <div class="title">
            <h3>Introduction to ES6</h3>
          </div>
          <div class="technology-author">
            <ul>
              <li>JavaScript</li>
              <li>By Tsakane Cathrine, October 25, 2020</li>
            </ul>
          </div>
          <div class="brief-desc">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vel, voluptate,
              dolor culpa aspernatur porro fugiat quas ut tempore minus voluptatum deserunt
              doloremque dolore voluptatem ab tempora. Quaerat, similique officiis!
            </p>
          </div>
        </div>
      </article>

      <article class="article">
        <div class="image">
          <img src="../../assets/images/bg/rainbow.jpg" alt="Article image." >
        </div>
        <div class="description">
          <div class="title">
            <h3>Introduction to ES6</h3>
          </div>
          <div class="technology-author">
            <ul>
              <li>JavaScript</li>
              <li>By Tsakane Cathrine, October 25, 2020</li>
            </ul>
          </div>
          <div class="brief-desc">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vel, voluptate,
              dolor culpa aspernatur porro fugiat quas ut tempore minus voluptatum deserunt
              doloremque dolore voluptatem ab tempora. Quaerat, similique officiis!
            </p>
          </div>
        </div>
      </article>

      <article class="article">
        <div class="image">
          <img src="../../assets/images/bg/rainbow.jpg" alt="Article image." >
        </div>
        <div class="description">
          <div class="title">
            <h3>Introduction to ES6</h3>
          </div>
          <div class="technology-author">
            <ul>
              <li>JavaScript</li>
              <li>By Tsakane Cathrine, October 25, 2020</li>
            </ul>
          </div>
          <div class="brief-desc">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vel, voluptate,
              dolor culpa aspernatur porro fugiat quas ut tempore minus voluptatum deserunt
              doloremque dolore voluptatem ab tempora. Quaerat, similique officiis!
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
