/* Blog Page */

/* Banner section */
#banner {
  min-height: 400px;
  height: 40vh;
}

.banner-wrap {
  height: 100%;
  background-image: url('../../assets/images/explore/write-min.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(41, 43, 44, 0.4);
}

#banner .heading {
  position: relative;
  top: 40%;
  width: fit-content;
  margin: 0 auto;
}

#banner .heading h1 {
  color:#fff;
}
/* Banner section end */

/* Featured Blogs section */
#featured-blogs {
  height: fit-content;
  background-color: #292b2c;
}

.featured-blogs-wrap {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0 50px 0;
}

#featured-blogs .heading h2{
  color: #fff;
  padding: 20px 0;
}

.featured-articles {
  display: flex;
}

.featured-articles .article-set {
  flex: 1;

  display: flex;
}

.featured-articles .article-set .article {
  flex: 1;
  margin: 0 10px;
}

.featured-articles .article img {
  width: 100%;
  height: 200px;
}

.featured-articles .article .title {
  color: #fff;
  height: 100px;
}

.featured-articles .article .title h3 {
  font-size: 1.5rem;
  padding: 5px 2px
}

.featured-articles .article .technology-author {
  color: #fff;
}

.featured-articles .article .technology-author ul {
  margin-left: 10px;
}

.featured-articles .article .technology-author li {
  font-size: 0.9rem;
}
/* Featured Blogs section  end */

/* Other Blogs section */
.other-blogs-wrap {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0 50px 0;
}

.other-articles .article {
  display: flex;
  margin: 20px 0;
}

.other-articles .article .image {
  flex: 0.6;
}

.other-articles .article .description {
  flex: 1.4;
  padding-left: 20px;
}

.other-articles .article .image img {
  width: 100%;
  height: 200px;
}

.other-articles .title h3 {
  font-size: 1.5rem;
  padding: 20px 0;
}

.other-articles .technology-author li {
  display: inline;
}

.other-articles .technology-author li:nth-child(2) {
  padding-left: 8px;
}
/* Other Blogs section end */


@media screen and (max-width: 62rem) { /* Medium Viewport */
  /* Featured Blogs section */
  .featured-articles {
    display: flex;
    flex-flow: column;
  }
  /* Featured Blogs section end */

  /* Other Blogs section */
  .other-articles .article {
    display: flex;
    flex-flow: column;
  }
  /* Other Blogs section end */
}

@media screen and (max-width: 48rem) { /* Small Viewport */
  /* Featured Blogs section */
  .featured-articles .article-set {
    display: flex;
    flex-flow: column;
  }
  /* Featured Blogs section */
}
